{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<input {{ attributes }} /> {{ children }}
    
{#

 /**
  * Ist die Geschichte im Headerbereich Search-Field Icons;
 /*  
    
<button id="search-button" data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="button js-form-submit form-submit" type="submit"><i class="fa fa-search"></i></button>
{{ children }}
#}


