<div id="main">
  <div class="grid-container">
    <div class="grid-x">
               
      <div class="cell medium-12 large-12">
         <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
           <div class="content">
             {{ page.content }}
           </div>
      </div>
      {#
      <div class="cell medium-4 large-4">
          <a id="sidebar" tabindex="0"></a>
            <div class="sidebar">
              {{ page.sidebar }}
            </div>                 
      </div>
      #}
    </div>
  </div>
</div>