<div class="uebergang"></div>

<footer>
    <div class="grid-container">
        <div class="cell large-12 grid-y" style="height: 100px;">
            {{ page.footer }}
        </div>
    </div>
</footer>

