<div class="grid-container">
    <div class="grid-x b-teaser align-justify grid-y" style="height: 100px">
        <div class="text-inner cell large-12">            
            <h2>Mein Plan</h2>
            <a href="/meinPlan" class="button plan"> Hier mehr erfahren</a>
        </div>
        <div class="text-inner cell large-12">
            
            <h2>Mein Werdegang</h2>
            <a  href="/meinwerdegang" class="button werdegang"> Hier mehr erfahren</a>
        </div>
    </div>
</div>