
    
    
        
       
         <div id="login">
            <div class="grid-container small">
                <div class="content login">
                    <div class="grid-x align-center align-middle">                    
                    <img class="anmelden-logo" src="/images/g6983.png" alt="Logo-Anzeige">
                    <h3 class="login text-center">Anmeldung</h3>
                    
                    <form class="user-login-form" data-drupal-selector="user-login-form" action="/user/login?destination=/" method="post" id="user-login-form" accept-charset="UTF-8">
                        <div class="grid-x">
                            <label for="edit-name"></label>
                            <input placeholder="E-Mail-Adresse" autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="cell large-12" required="required" aria-required="true">
                        </div>
                        <div class="password">
                            <label for="edit-pass"></label>
                            <input placeholder="Passwort" data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="cell large-12" required="required" aria-required="true">
                        </div>
                        <a class="link" href="/user/password" data-drupal-link-system-path="user/password">Passwort vergessen?</a>
                        <input autocomplete="off" data-drupal-selector="form-e0lep3mgch7hf75xqdyhfc46z4wnzqrgnf6tjfwrbo0" type="hidden" name="form_build_id" value="form-e0lEp3MGcH7hF75xqdYhFc46Z4wNZQRgNf6TjFWrbo0">
                        <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
                        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Log in" class="button js-form-submit form-submit">
                        </div>
                        <a class="link" href="/user/register" data-drupal-link-system-path="user/register">Konto erstellen</a>  
                    </form>            
                    
                    </div>
                </div>
            </div>
         </div>
        
        
        