// Hintergrund-Farben == BücherRegal
/*
$background-color-main:   rgba(101, 151, 118, 0.459);
$background-color:        rgb(58, 56, 56);
$background-color-subbar: rgb(119, 78, 94);
$background-color-sidebar:rgb(108, 38, 114);
*/

// Hintergrund-Farben == Wald-Landschaft
$background-color-w1: #656565e0;
$background-color-main:   rgba(62,62,62,1);
$background-color:        rgba(62,62,62,1);
$background-color-subbar: #5d5454;
$background-color-sidebar:rgba(62,62,62,1);

// Farben
$color-h2: #cacaca;

// Border-KAWA/KAGA
$boder-kawa: #424242a8;

